<?xml version="1.0"?>
<config>
    <modules>
        <VinaiKopp_PostCodeFilter>
            <version>0.1.0</version>
        </VinaiKopp_PostCodeFilter>
    </modules>
    <global>
        <models>
            <vinaikopp_postcodefilter>
                <class>VinaiKopp_PostCodeFilter_Model</class>
                <resourceModel>vinaikopp_postcodefilter_resource</resourceModel>
            </vinaikopp_postcodefilter>
            <vinaikopp_postcodefilter_resource>
                <class>VinaiKopp_PostCodeFilter_Model_Resource</class>
                <entities>
                    <rule>
                        <table>vinaikopp_postcodefilter_rule</table>
                    </rule>
                </entities>
            </vinaikopp_postcodefilter_resource>
        </models>
        <helpers>
            <vinaikopp_postcodefilter>
                <class>VinaiKopp_PostCodeFilter_Helper</class>
            </vinaikopp_postcodefilter>
        </helpers>
        <blocks>
            <vinaikopp_postcodefilter>
                <class>VinaiKopp_PostCodeFilter_Block</class>
            </vinaikopp_postcodefilter>
        </blocks>
        <resources>
            <vinaikopp_postcodefilter_setup>
                <setup>
                    <module>VinaiKopp_PostCodeFilter</module>
                </setup>
            </vinaikopp_postcodefilter_setup>
        </resources>
        <events>
            <sales_model_service_quote_submit_before>
                <observers>
                    <vinaikopp_postcodefilter>
                        <type>model</type>
                        <class>vinaikopp_postcodefilter/observer</class>
                        <method>salesModelServiceQuoteSubmitBefore</method>
                    </vinaikopp_postcodefilter>
                </observers>
            </sales_model_service_quote_submit_before>
        </events>
    </global>
    <frontend>
        <routers>
            <vinaikopp_postcodefilter>
                <use>standard</use>
                <args>
                    <module>VinaiKopp_PostCodeFilter_Frontend</module>
                    <frontName>postcodefilter</frontName>
                </args>
            </vinaikopp_postcodefilter>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <vinaikopp_postcodefilter>
                    <file>vinaikopp/postcodefilter.xml</file>
                </vinaikopp_postcodefilter>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <VinaiKopp_PostCodeFilter>VinaiKopp_PostCodeFilter_Adminhtml</VinaiKopp_PostCodeFilter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
